.glassify {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.game-main {
    display: flex;
    margin: 0 1.5rem;
}

.users-scroll {
    height: 85vh;
}

@media (max-width: 768px) {
    .users-container {
        order: 2
    }

    .users-scroll {
        height: 37.5vh;
    }

    .question-container {
        order: 1
    }
}