.login-main {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 1.5rem;
}

.login-container {
    margin: 2.5rem 3.5rem;
    display: flex;
    flex-direction: column;

}

.how-to-play {
    margin: 2.5rem 1rem;
    padding: 1rem;

    background: rgba(255, 255, 255, 0.01);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
    .login-main {
        margin: 2.5rem;
    }
}